 *{
    box-sizing: border-box;
}

p{
    line-height: 22px;
    font-size: 15px;
}

body {
    margin: 0 auto;
    /* width: 100%; */
}

.container1 {
    width: 90%;
    margin: 0 auto;
}

.container2 {
    margin: 0 auto;
    padding: 199px 0; 
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 57PX 0;
}

.nav {
    width: 100%;
}

.ulnav {
    align-self: center;
    margin: 0 auto;
}

.linav {
    font-family: 'questrial';
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
    
        color: #FFFFFF;
    margin-left: 27.9px;
    text-decoration: none;
    list-style: none;
}

.p1 {
    background-image: url(images/Rectangle\ 1backg1.png);
}

.first-logo{
    position: absolute;
    border: 5px solid black;
    align-items: left;
        /* width: 180px;
        height: 32px; */
}

.lunav {
    display: flex;
    justify-content: space-between;
    
}

.signin {
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
    text-decoration: none;
        color: #003526;
background: #FFFFFF;
    border-radius: 3px;
    list-style: none;
    margin-right: 12px;
    padding: 0.5px 0.73px 6.52px 2.73px;
}

.create{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        
    
        text-align: center;
    
        color: #000000;
        background: #FFCE00;
            border-radius: 3px;
            text-decoration: none;
            list-style: none;
            padding: 1px 4px 1px 4px;
}

.iphone{
    /* padding-left: 200px; */
    margin-left: 200px;
    
    
}

.bigtext{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 3.5rem;
        text-align: center;
        color: #FFFFFF;
      
       width: 100%;
      
}
.icons{
    margin-top: 54px;
}

.join{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
       
        color: #FFFFFF;
}

.text{
    text-align: center;
    position: absolute;
    width: 50%;
    margin: 60px 0 0 200px;
    align-items: center;
}

.bit-coin{
    position: absolute;
}

.bod{
    display: flex;
   
    margin-top: 184px;
}

.appstore {
    margin-left: 24px;
}



.bit {
    width: 35%;
}



.arrow{
    
position: absolute;
width: 116px;
height: 114px;
left: -18px;
top: 563px;
}

.weliketothink{
font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    color: #000000;

    margin-bottom: 50px;
}

.PatriciaUniverse{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
    
        color: #000000;
}

.meet{
   
        width: 479px;
        height: 120px;
        left: 158px;
        top: 1960px;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;
    
        color: #FFFFFF;
}

.p2{
    background-image: url(images/rocket.png);    
}

.container2{
    background-image: url(images/rocket.png);
}

.p3{
        background-color: #f7f7f7;
}

.container3{
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.crypto{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        margin-top: 83px;
    
        color: #006156;
}

.ever{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    
        color: #ACA6A6;
        margin-bottom: 90px;
}

a{
    text-decoration: none;
}

.button{
    background: #FFB93E;
        border-radius: 3px;
        padding: 16px 48px 21px 28px;
        color: black;
        margin-bottom: 88px;
        font-family: 'Roboto';
}

.payment{
    margin-top: 88px;
}

/* .pay1 + .pay1 {
    margin-left: 41px;
} */

.pay2{
    padding-left: 41px;
}

.pay3{
    padding-left: 41px;
}

.pay4{
    padding-left: 41px;
}

.pay5{
    padding-left: 12px;
}

.container4{
    display: flex;
}

.green{
    
    background: #006156;;
}

.gateway{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        margin: 0;
        color: #FFFFFF;
}

.more{
    font-family: 'Poppins';
    margin-top: 66px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        
        color: #FFFFFF;
}

.green-text{
    margin: 0 auto;
        width: 80%;
    padding-top: 269px;
}

.gateway{
    font-family: roboto;
}



.p5clouds{
    background-image: url(images/Rectangle\ 7clouds.png);
    padding-top: 316px;
    
}

.container5{
    display: flex;
    justify-content: space-between;
    
}

.green-arrow{
    position: absolute;
}

.second {
    
    width: 100%;
}

.cry{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
    
        color: #006156;
}

.trading{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
    
        color: black;
}

.think{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
    
        color: #C4C4C4;
}

.arrow-boxes{
    display: flex;
        width: 100%;
        justify-content: space-between;
}

.arrow-boxes a{
    
    display: flex;
    
}

.arrow-boxes p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        
    
        text-align: center;
    
        color: #000000;
}

.ab-1{
    justify-content: space-between;
    width: 40%;
    padding-top: 48px;
}

.ab-2{
    width: 40%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 28px;
    padding-top: 48px;
}

.arrow-boxes img{
    padding-left: 15px;
}

.arrow-box1{
    background: #FFFFFF;
    box-shadow: 5px 5px 5px grey;
        border-radius: 20px;
        
}

.arrow-box2 {
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 36px;
    box-shadow: 5px 5px 5px grey;
    
}


.arrow-box3 {
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.arrow-box4 {
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 36px;
    box-shadow: 5px 5px 5px grey;

}

.phone{
    width: 30;
}



.p6clouds{
    background: url(images/Rectangle\ 7clouds.png); 
    width: 100%;
}

.container6{
    display: flex;
    width: 90%;
    margin-left: 26px;
}

.gragra {
    padding-top: 322px;
}

.bitcoin-phone{
    margin-top: 122px;
    
}

.phones{
    display: flex;
    /* padding-left: 50px; */
}

.no-coin{
    margin-top: 168px;
}

.do-more{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
    font-size: 45px;
    line-height: 68px;
    color: #000000;
}

.goldarrows{
    margin-top: 22px;
}

.golden-arrow{
    position: absolute;
}

.gold-1 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
       
    padding: 0px 16px 28px 44px;
        
    
        color: #000000;
}

.with-pat{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
        color: #808285;
}

.goldarrows a{
   display: flex;
}

.gold-1{
    background: #FFFFFF;
        box-shadow: 5px 5px 5px grey;
        border-radius: 20px;
        
}

.g1{
    margin-top: 27px;
}

.g2{
    margin-top: 27px;
}

.g3{
    margin-top: 27px;
}

.p7{
    background-image: url(images/Rectangle\ 7clouds.png);
    align-items: center;
    width: 100%;
}

.container7 {
    display: flex;
    justify-content: space-between;
    padding-top: 315px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container7 h2{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    
        color: #000000;
        margin-bottom: 37px;
}

.container7 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
    
        color: #808285;

        padding: 45px;
        margin-top: 37px;
}

.t1{
    border-right: 2px solid black;
    width: 100%;
    
    
}

.t2{
    border-right: 2px solid black;
    width: 100%;
}

.t3{
    width: 100%;
}

.p8{
    text-align: center;
    margin-top: 105px;
}

.p8 h1{
        font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        text-align: center;
    
        color: #000000;
}

.p9{
    background: #1C1E2C;
    width: 100%;
}

.container9{
    display: flex;
}

.container9 h1{
    font-family: roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
    
        color: #FFFFFF;
    padding-top: 200px;
    padding-left: 98px;
    margin-bottom: 24px;
}

.container9 p{
    font-family: 'Questrial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
        color: #E5E5E5;
        padding-right: 220px;
        margin-top: 24px;
}

.business{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
        color: #E5E5E5;
        padding-left: 98px;
        padding-right: 255px;
}


.wishlink{
    margin-right: auto;
    background-color: #FFB93E;
    width: 50%;
    margin-left: 98px;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
       
    
        text-align: center;
        padding-top: 31px;
        color: #000000;
        
        padding: 8px 44px 8px 44px;
}

.midcoin{
    padding-top: 298px;
}

.receive{
    padding-bottom: 241px;
}

.tab{
    padding-top: 73px;
}

.p10{
    margin-top: 108px;
    display: flex;
    width: 100%;
}

.p10 h1{
    font-family: roboto;
        font-style: bold;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
    
        color: #000000;         
}

.boxes{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.upa{
    display: flex;
    padding-left: 60px;
    padding-top: 57px;
}

.up2{
    padding-left: 23px;
}

.up3{
    padding-left: 23px;
}

.up5{
    padding-left: 40px; 
}

.up6{
    padding-left: 40px;
}

.secret{
    padding-left: 60px;
}

.favorite{
    padding-left: 60px;
    padding-bottom: 97px;
}

.p10 h4{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    
        color: #006156;
}

.dictionary{
    font-family: roboto;
    font-weight: 1000;
}

.p10 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
        color: #000000;
}

.boxes{
    margin-top: 136px;
}

/*.box-one{
    background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 86px;
        margin-left: 67px;
        
}

.box-two{
    background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 86px;
        margin-left: 79px;
} */

.seamore{
    background: #FFB93E;
        border-radius: 3px;
      padding: 9x 10px 15px 20px; 
      
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        
    
        text-align: center;
    
        color: #000000;
}

.see1{
    text-align: center;
    padding: 9x 10px 15px 20px;
    margin-top: 127px;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        
    
        text-align: center;
    
        color: #000000;

        
}

.container11{
    display: flex;
    margin-top: 131px;
}

.container11 h1{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
    
        color: #006156;

        margin-left: 58px;
}

.container11 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    
        color: #000000;

        margin-right: 265px;
        margin-left: 67px;
}

.customer-care{
    
}

.customer{
    margin-left: 58px;
    margin-top: 50px;
}

.paired{
    margin-top: 43px;
}

.container12{
    display: flex;
    margin-top: 162px;
    width: 90%;
    
}

.patricia-academy{
    margin-left: 54px;
}

.coinsrec{
    align-items: center;
}

.container12 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 60px;
        
    
        letter-spacing: 0.03em;
    
        color: #000000;
}

/* .container12 a{
    padding-left: 63px;
    background: #FFB93E;
        border-radius: 3px;
    
} */


.container12 h1{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 1800;
        font-size: 50px;
        line-height: 61px;
    
        color: #000000;
        padding-left: 62px;
}

.coinsrectext{
    margin-left: 40px;
}

.crypto-fees{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 68px;
    
        color: #006156;
}

.get-started{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        padding: 11px 2px 8px 4px;
        background: #FFB93E;
            border-radius: 3px;
}

.new-courses{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
    
        color: #1BB49C;

        background: #CCFCF4;
            border-radius: 10px;
            padding: 9px 3px 8px 5px;
}

.gradcap{
    padding-left: 30px;
}

.the-patricia{
    padding-left: 10000px;
}

.p13 {
    padding: 178px 0 183px 0;
    width: 90%;
    margin: 0 auto;
}

.container13 {
    display: flex;
    justify-content: space-between;
}

.befunky {
    width: 50%;
    
}

.befunkytxt {
    padding-top: 430px;
    width: 40%;
    font-family: poppins;
}

.customer-spotlight{
    font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 90px;
        color: #006156;
}

.thisiswhy {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;


    color: #C4C4C4;
}

.feelsgood {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;

    color: #000000;
}

.apostrophe {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;


    color: #006156;
}

.david {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    margin-top: 89px;
    color: #006156;
    gap: 4px;
}

.picture {
    margin-top: 18px;
    height: 25px;
    width: 25px;
}



/* .p13{
    width: 100%;
    margin-top: 178px;
    justify-content: space-between;
}

.container13{
    display: flex;
    width: 90%;
}

.befunkytxt{
    margin-top: 400px;
    width: 40%;
}









.david{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        margin-top: 89px;
        color: #006156;
        gap: 4px;
}

.befunky{
    width: 50%;
} */

.p14 {
    padding-bottom: 280px;
        width: 90%;
        margin: 0 auto;
        font-family: 'Poppins';
            font-style: normal;
}


.news-text{
    
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    margin-top: 183px;
    color: #000000;
}

.news {
    text-align: center;
}

.new3{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.new3 h2{

        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
    
        color: #006156;
        
}

.new3 p{

        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        
        
        color: #000000;
}

.ind{
    background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 86px;
        margin-right: 70px;
        padding: 0px 16px 47px 36px;
       
        
}

.tn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 86px;
        margin-right: 70px;
            padding: 0px 16px 47px 36px;
}

.indimg{
    margin-top: 54px;
}


.fejiro{
    padding-top: 20px;
}

.container15{
    width: 90%;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.container15 h1{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
    
        text-align: center;
    
        color: #000000;
}

.container15 p{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    
        color: rgba(162, 152, 152, 0.72);
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 238, 167, 0.51);
        border-radius: 50px;
        padding-top: 65px;
}

.space{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px 120px 20px 20px;
}

.free{
    background: #FFFFFF;
        border-radius: 20px;
}

.apart{
    width: 49%;
    
}

.subboxes {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.sff{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    
        text-align: center;
    
        color: #FFFFFF;
        background: #1C1E2C;
        border-radius: 20px;
        padding: 23px 20px 23px 20px;
        /* width: 30%; */
    }

    .container16{
        width: 100%;
    }

    .p16{
        margin-top: 99px;
    }

    .people{
        width: 100%;
        
    }

    .p17{
        background-color: #006156;
        font-family: poppins;
        color: #FFFFFF;
        /* padding: 76px 0px 173px 0px; */
    }

.footer-start{
    margin-bottom: 76px;
}

.partners-and-accolades{
    display: flex;
    background-color: rgba(24, 22, 22, 0.29);
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(24, 22, 22, 0.29);
    margin-top: 56px;
    margin-bottom: 214px;
}

.payf{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.iso{
    padding-top: 300px;
}

.footer-bitcoin{
    position: absolute;
}

.para{
    display: flex;
}

.secondp{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 109px; */
    margin-bottom: 276px;

}

.thirdp{
    display: flex;
    justify-content: space-between;
    padding-bottom: 133px;
}